#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_
· List popular languages for Data Science
· List commonly used libraries for Data Science
· Some of the key takeaways from the course

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy

Data Science Tools
| Data Science Tools |
| -------------|
| Git |
| Apache Airflow |
| MySQL |

Data Science Tools
| Data Science Tools |
| -------------|
| Git |
| Apache Airflow |
| MySQL |

###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
Jiayu Li